flows.json
[{"id":"f71b26ba.b617b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfbf1002.8a5ba8","type":"smart-bulb","z":"f71b26ba.b617b8","name":"luz-sala","device":"192.168.1.71","interval":10000,"eventInterval":1000,"x":560,"y":160,"wires":[[]]},{"id":"86b6ab59.36b118","type":"inject","z":"f71b26ba.b617b8","name":"Desligar","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["cfbf1002.8a5ba8"]]},{"id":"e51c9386.2f9248","type":"inject","z":"f71b26ba.b617b8","name":"Desligar","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["cfbf1002.8a5ba8"]]}]